.header {
        background-color: #ffff;
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 40px);
        border-radius: 15px;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 20px;
        
    }

    .logo img {
        height: 48px;
        width: 150px;
    }

    .nav-center ul {
        gap: 2.5rem;
        display: flex;
        list-style: none;
    }

    .nav-center a {
        font-size: 1.25rem;
        text-decoration: none;
        list-style: none;
    }

    .nav-right ul { list-style: none;
        align-items: center;
        display: flex;
        gap: 2.5rem;

    }

    .nav-right a {
        font-size: 1.25rem;
        text-decoration: none;
        list-style: none;
    }

    .nav-right img{
        height: 20px;
    }

    .nav-right a:hover img{
        opacity: 0.7;
    }

    .nav-center a:hover,
    .nav-right a:hover {
        color: #000;


    }